<div class="card">
    <div class="card-header">
        <h2>
            נעלי נעורים | אודותינו</h2>
    </div>
    <div class="card-block">
<p class="aboutUsParagarph" style="text-align:right">
    סיפורינו מתחיל בשנת 1965 כאשר מלכה ואפריים זוג צעיר רצו לקנות לילדיהם נעליים.
חיפשו חיפשו ואחרי חיפושים מייגעים ראו כי זוג נעליים לילדים הינו מצרך נדיר בעירם חולון.
"מלכה" אמר אפרים, "את יודעת מה חסר בחולון? חנות לנעלי ילדים. שבה יהיה מבחר גדול
של נעליים באיכות גבוהה." אמר ועשה.
חיפש מקום מתאים והשקיע את כל חסכונותיו בשיפוץ ובניית העסק, שלימים הפכה לחנות נעלי 
ילדים הראשונה והגדולה בחולון והפכה לשם דבר.
     </p>
     <p style="text-align:center;margin:0px;">
    <img src="assets/images/AboutUs1.jpg"  />
    </p>
    <p style="text-align:center;margin:0px;">
  שנת (1967)
    </p>
     
<p class="aboutUsParagarph" style="text-align:right">
    מלכה עבדה בעבר בחנות נעלי ילדים שנקראה 'נעלי פיל' ברח' אלנבי בת"א. ושם רכשה את המיומנות.
וכך הפכה מלכה להיות אחראית לניהול החנות תוך כדי שמירה על אוירה נעימה וחויית קנייה לילדים ולהורים.
אפרים דאג לקניית הסחורה תוך הקפדה על טיב החומרים ואיכות גבוהה ללא פשרות.
   </p>
    <p style="text-align:center;margin:0px;">
    <img src="assets/images/AboutUs2.jpg"  />
    </p>
    <p style="text-align:center;margin:0px;">
  שנת (1972)
    </p>
<p class="aboutUsParagarph" style="text-align:right">
    אל החנות באו לקוחות מחולון ומכל הארץ ויצאו עם סחורה איכותית הרגשה ביתית ובלון. 
החנות גידלה מעצם היותה ותיקה דורות של לקוחות, האבא או האמא שקנו להם בילדותם צעדים ראשונים
לא שכחו את הארומה והנוסטלגיה ומביאים את ילדיהם לנעלי נעורים והם הופכים לדור
חדש של לקוחות צעירים ומרוצים.
    </p>
    <p style="text-align:center;margin:0px;">
    <img src="assets/images/NeurimStore2.jpg"  />
    </p>
    <p style="text-align:center;margin:0px;">
  שנת (1998)
    </p>
    
<p class="aboutUsParagarph" style="text-align:right"> 
    בימים אלה מנהלים את החנות אסתר ואילן כץ
אילן הינו בנם של מלכה ואפרים שחלומו היה להמשיך את העסק שיסדו הוריו לשמר את הקו של איכות
מבחר גדול וסביבה נעימה.  
גב'מלכה כץ הינה נשיאת החנות, מבקרת ומשגיחה שהרמה המקצועית והאוירה הנעימה תישמר בקפידה,
ושחזונו של אפרים כץ ז"ל מיסד החברה ישמר.
    </p>
    <p style="text-align:center;margin:0px;">
    <img src="assets/images/NeurimStore3.jpg"  />
    </p>
    <p style="text-align:center;margin:0px;">
  שנת (2009)
    </p>
<p class="aboutUsParagarph" style="text-align:right">
    כיום פתחנו חנויות נוספת של נעלי נוחות באיכות גבוהה, בחנויות אלו ניתן להשיג נעלי נוחות מהחברות הטובות 
באירופה. כל הנעליים מיובאות על ידינו, כמובן בהקפדה על רמה גבוהה ביותר.</p>
<p style="margin-top:20px;text-align:right;" class="aboutUsParagarph"> 
    נשמח לראותכם ולהוסיף אתכם למשפחת לקוחותינו.
<br/><br/>
בכבוד רב,<br/>
אסתר ואילן כץ</p>
</div>
</div>
