<div style="position:initial">
  <div class="container-fluid" >
    <div class="row spacer">
        <div class="col-md-3">
            <div class="card" style="width: 20rem;">
                <div class="card-block">
                  <h5 class="card-title">סיכום ביניים</h5>
                  <div class="row">
                      <div class="col-md-6">
                          ₪{{orderService.subTotal()}}
                      </div>
                      <div class="col-md-6">
                          <p class="card-text">מוצרים ({{orderService.totalAmount()}}):</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          ₪{{orderService.shippment()}}
                      </div>
                      <div class="col-md-6">
                          <p class="card-text">משלוח:</p>
                          <mat-radio-group *ngIf="this.openStep === 1" name="deliveryMethos" class="deliveryDetails" [(ngModel)]="orderService.orderContainer.delivery" (ngModelChange)="onDeliveryChange($event)">
                                <mat-radio-button value="Mail">דואר ישראל <br>(הזמנה מעל 200 ש"ח משלוח חינם) </mat-radio-button><div></div>
                                <mat-radio-button value="Delivery">משלוח מהיר <i matTooltip="שליח עד הבית בגוש דן ודואר אקספרס לשאר אזורי הארץ" class="fa fa-info-circle" aria-hidden="true"></i></mat-radio-button><div></div>
                                <mat-radio-button value="SelfPick">איסוף עצמי <i matTooltip="איסוף עצמי בשנקר 52 חולון" class="fa fa-info-circle" aria-hidden="true"></i></mat-radio-button><div></div>
                            </mat-radio-group> 
                      </div>
                  </div>
                  <hr>
                  <div class="row total">
                      <div class="col-md-6">
                          ₪{{orderService.total()}}
                      </div>
                      <div class="col-md-6">
                          <p class="card-text">סה"כ:</p>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-8">
            <mat-accordion>
                <mat-expansion-panel [expanded]="openStep == 1" (click)="openStep = 1" >
                        <mat-expansion-panel-header class="headerAccordion">
                        פרטי משלוח
                        </mat-expansion-panel-header>                       
                        <form #shippmentForm="ngForm" class="userDetailsForm" (ngSubmit)="onSubmitStep1()" >
                          <div class="validMarker">
                            <div class="form-group">
                                <label for="usernameInput" class="control-label">שם מלא</label>
                                <input [(ngModel)]="orderService.orderContainer.name" name="name" type="input" class="form-control" id="usernameInput" required>                            
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="control-label">דוא"ל</label>
                                <input [(ngModel)]="orderService.orderContainer.email" name="email" type="input" class="form-control" id="inputEmail" required email>
                            </div>
                            <div class="form-group">
                                <label for="inputPhone" class="control-label">טלפון</label>
                                <input [(ngModel)]="orderService.orderContainer.phone" name="phone" type="input" class="form-control" id="inputPhone" required pattern="[0-9\-()]+" minlength="8">
                            </div>
                            <div class="form-group" *ngIf="orderService.orderContainer.delivery !== 'SelfPick'">
                                <label for="inputStreet1" class="control-label">כתובת 1</label>
                                <input [(ngModel)]="orderService.orderContainer.address1" name="street1" type="input" class="form-control" id="inputStreet1" placeholder="רחוב ומספר, תא דואר, שם חברה" required>
                            </div>
                            <div class="form-group" *ngIf="orderService.orderContainer.delivery !== 'SelfPick'">
                                <label for="inputStreet2" class="control-label">כתובת 2</label>
                                <input [(ngModel)]="orderService.orderContainer.address2" name="street2" type="input" class="form-control" id="inputStreet2" placeholder="דירה, קומה, כניסה">
                            </div>
                            <div class="form-group" *ngIf="orderService.orderContainer.delivery !== 'SelfPick'">
                                <label for="inputCity" class="control-label">עיר</label>
                                <input type="input" [(ngModel)]="orderService.orderContainer.city" name="city" class="form-control" id="inputCity" required>
                            </div>
                            <div class="form-group" *ngIf="orderService.orderContainer.delivery !== 'SelfPick'">
                                <label for="inputZip" class="control-label">מיקוד</label>
                                <input type="input" [(ngModel)]="orderService.orderContainer.zip" name="zip" class="form-control" id="inputZip">
                            </div>  
                          </div>
                          <div class="form-group">
                                <div class="checkbox">
                                  <label>
                                    <mat-checkbox type="checkbox" id="approve" name="approve" [(ngModel)]="user.approve" required></mat-checkbox> קראתי ואני מסכים עם <a target="_blank" routerLink="/takanon">התקנון</a> 
                                  </label>
                                </div>
                            </div>     
                          <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="btn btn-success" [disabled]="!shippmentForm.form.valid">המשך</button>
                            </div>
                          </div>
                          
                        </form>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="openStep == 2" [disabled]="openStep < 2">
                    <mat-expansion-panel-header class="headerAccordion" [ngClass]="{'text-muted': openStep < 2}">
                        תשלום
                      </mat-expansion-panel-header>
                  <div>
                      <i>קנייה בטוחה באמצעות פייפאל שתומך בכרטיס אשראי</i>
                      <br>
                      <i>לחץ על אמצעי תשלום</i>
                      <div id="paypal-button-container"></div>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="openStep == 3" [disabled]="openStep < 3">
                    <mat-expansion-panel-header class="headerAccordion" [ngClass]="{'text-muted': maxStep < 3}">
                        סיכום
                      </mat-expansion-panel-header>
                    
                </mat-expansion-panel>
                
              </mat-accordion> 
        </div>
        <div class="col-md-1"></div>
    </div>
  </div>
</div>
