<div style="position:initial">
  <div class="container-fluid" >
    <div class="row spacer">
        <div class="col-md-3">
            <div class="card" style="width: 20rem;">
                <div class="card-block">
                  <h5 class="card-title">סיכום ביניים</h5>
                  <div class="row">
                      <div class="col-md-6">
                          ₪{{orderService.subTotal()}}
                      </div>
                      <div class="col-md-6">
                          <p class="card-text">מוצרים ({{orderService.totalAmount()}}):</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          ₪{{orderService.shippment()}}
                      </div>
                      <div class="col-md-6">
                          <p class="card-text">משלוח:</p>
                      </div>
                  </div>
                  <hr>
                  <div class="row total">
                      <div class="col-md-6">
                          ₪{{orderService.total()}}
                      </div>
                      <div class="col-md-6">
                          <p class="card-text">סה"כ:</p>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-8">
            <accordion [closeOthers]="true">
                <accordion-group [isOpen]="openStep == 1" (click)="openStep = 1" >
                                 <div accordion-heading class="headerAccordion">
                                    פרטי משלוח
                                  </div>
                        <form #shippmentForm="ngForm" (ngSubmit)="onSubmitStep1()" >
                          <div class="form-group">
                            <label for="usernameInput" class="control-label">שם מלא</label>
                            <input [(ngModel)]="user.username" name="name" type="input" class="form-control" id="usernameInput" required>                            
                          </div>
                          <div class="form-group">
                              <label for="inputEmail" class="control-label">דוא"ל</label>
                              <input [(ngModel)]="user.email" name="email" type="input" class="form-control" id="inputEmail" required email>
                          </div>
                          <div class="form-group">
                              <label for="inputPhone" class="control-label">טלפון</label>
                              <input [(ngModel)]="user.phone" name="phone" type="input" class="form-control" id="inputPhone" required pattern="[0-9\-()]+" minlength="8">
                          </div>
                          <div class="form-group">
                              <label for="inputStreet1" class="control-label">1 כתובת</label>
                              <input [(ngModel)]="user.addresses[0].address1" name="street1" type="input" class="form-control" id="inputStreet1" placeholder="רחוב ומספר, תא דואר, שם חברה" required>
                          </div>
                          <div class="form-group">
                              <label for="inputStreet2" class="control-label">כתובת 2</label>
                              <input [(ngModel)]="user.addresses[0].address2" name="street2" type="input" class="form-control" id="inputStreet2" placeholder="דירה, קומה, כניסה">
                          </div>
                          <div class="form-group">
                            <label for="inputCity" class="control-label">עיר</label>
                            <input type="input" [(ngModel)]="user.addresses[0].city" name="city" class="form-control" id="inputCity" required>
                          </div>
                          <div class="form-group">
                              <label for="inputZip" class="control-label">מיקוד</label>
                              <input type="input" [(ngModel)]="user.addresses[0].zip" name="zip" class="form-control" id="inputZip">
                          </div>       
                          <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="btn btn-success" [disabled]="!shippmentForm.form.valid">המשך</button>
                            </div>
                          </div>
                        </form>
                </accordion-group>
                <accordion-group [isOpen]="openStep == 2" (click)="openStep = 2">
                    <div accordion-heading class="headerAccordion">
                        פרטי תשלום
                      </div>
                  <div>
                      <i>קנייה בטוחה באמצעות פייפאל שתומך בכרטיס אשראי</i>
                      <br>
                      <i>לחץ על אמצעי תשלום</i>
                    <paypal-button [props]="{
                        env: paypalConfig.env,
                        client: paypalConfig.client,
                        commit: paypalConfig.commit,
                        locale: 'he_IL',
                        payment: payment,
                        onAuthorize: onAuthorize,
                        style: paypalConfig.style
                    }"></paypal-button>
                  </div>
                </accordion-group>
                <accordion-group [isOpen]="openStep == 3" (click)="openStep = 3" [isDisabled]="true">
                    <div accordion-heading class="headerAccordion">
                        סיכום
                      </div>
                    <div class="form-group">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> קראתי ואני מסכים עם התקנון
                          </label>
                        </div>
                    </div>
                </accordion-group>
                
              </accordion>
        </div>
        <div class="col-md-1"></div>
    </div>
  </div>
</div>
