<div class="page topic-page" id="ph-topic">
  <div class="page-body">
      <div class="topic-content">
          <p style="text-align: right;"><span style="font-size: 16pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="text-decoration: underline;"><span style="font-size: 16pt;"><strong>תקנון שימוש באתר האינטרנט של חברת נעלי נעורים (1965) בע"מ </strong></span></span></p>
<p style="text-align: right;"><span style="font-size: 16pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 16pt;"><strong>כללי:</strong></span></p>
<p style="text-align: right;"><span style="font-size: 16pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>1.&nbsp;&nbsp;</strong>אתר האינטרנט של חברת נעלי נעורים (1965) בע"מ (להלן &ndash; "חברת נעורים", "האתר") הינו אתר על רשת האינטרנט המהווה חנות וירטואלית לביצוע רכישת מוצרים על ידי הגולשים ברשת האינטרנט. בעלת האתר ומפעילתו הינה חברת נעורים.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>2.&nbsp;&nbsp;</strong>השימוש באתר, לרבות התכנים, דפי האתר, שירותי האתר, פרטי המידע וכל שימוש אחר הנעשה באמצעות האתר הינם בכפוף לתנאי תקנון זה אשר יהוו את הבסיס המשפטי לכל דיון בין ציבור הגולשים ובין חברת נעורים.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>3.&nbsp;&nbsp;</strong>עקב כך, הינך מתבקש לקרוא תקנון זה בקפידה שכן כל פעולה ו/או שימוש באתר מהווה הסכמה לקבלת תנאי התקנון.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>4.&nbsp;&nbsp;</strong>בכל מקרה של אי התאמה או סתירה בין הוראות תקנון זה לבין פרסומים אחרים כלשהם, תגברנה הוראות תקנון זה לכל דבר ועניין. אין ולא יהיה תוקף לכל מידע ו/או מצג שיימסר בעניין זה, בכל דרך אחרת, למעט בדרך שינויו המפורש של תקנון זה ופרסומו.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>5.&nbsp;&nbsp;</strong>חברת נעורים שומרת לעצמה את הזכות הבלעדית לשנות לרבות באמצעות גריעה ו/או הוספה את תנאי תקנון זה בכל עת, והתנאים המחייבים יהיו אלה המפורסמים בעת ביצוע הפעולה באתר.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>6.&nbsp;&nbsp;</strong>מובהר כי נעורים רשאית, על פי שיקול דעתה, להפסיק את פעילות האתר בכל עת ללא הודעה מראש.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>7.&nbsp;&nbsp;</strong>נעורים שומרת לעצמה את הזכות למנוע את הגישה לאתר ו/או לאפשרות לבצע רכישות באתר ו/או לבטל השתתפות של משתמש שהתנהגותו אינה הולמה או שאינה לפי תקנון השימוש, או המנסה לפגוע בניהולו התקין של האתר.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>8.&nbsp;&nbsp;</strong>חרגה חברת נעורים מהוראות תקנון זה במקרה או במקרים מסוימים, על פי שיקול דעתה, לא ייצור הדבר תקדים מחייב בכל צורה שהיא, ולא יהיה בכך כדי לחייב את החברה לפעול בדרך דומה בכל מקרה אחר.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>9.&nbsp;&nbsp;</strong>רישומי המחשב של חברת נעורים בדבר הפעולות המתבצעות דרך האתר יהוו ראיה חלוטה לנכונות הפעולות ולפרטי הפעולות.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>10.&nbsp;&nbsp;</strong>התקנון מנוסח בלשון זכר מטעמי נוחות בלבד, אולם הוא מיועד לנשים וגברים כאחד.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>11.&nbsp;&nbsp;</strong>כותרות הפרקים ניתנו לשם ההתמצאות בלבד ולא תהא להם כל נפקות בפרשנות תקנון זה.</span></p>
<p style="text-align: right;"><span style="font-size: 16pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 16pt;"><strong>כשרות להשתמש באתר:</strong></span></p>
<p style="text-align: right;"><span style="font-size: 16pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>12.&nbsp;&nbsp;</strong>רשאי להשתמש ו/או לרכוש מוצרים באתר מי שעומד בכל התנאים המצטברים שלהלן:</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp; 12.1. בגיר כמשמעותו בחוק הכשרות המשפטית והאפוטרופסות התשכ"ב &ndash; 1962.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;12.2. המשתמש הינו בעל תעודת זהות ישראלית תקפה או תאגיד המאוגד ורשום כדין בישראל.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;12.3. המשתמש הינו בעל כרטיס אשראי ישראלי או בינלאומי תקף שהונפק בישראל על ידי אחת מחברות האשראי בישראל.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;12.4. המשתמש בעל תא דואר אלקטרוני.</span></p>
<p style="text-align: right;"><span style="font-size: 16pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 16pt;"><strong>אופן המכירה:</strong></span></p>
<p style="text-align: right;"><span style="font-size: 16pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>13.&nbsp;&nbsp;</strong>שיטת המכירה באתר הינה שיטת מכירה רגילה, על ידי הצגת מוצרים במחיר קבוע מראש ועד גמר המלאי.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>14.&nbsp;&nbsp;</strong>מבלי לגרוע מהאמור לעיל, לחברת נעורים תישמר הזכות לשנות את מחיר ותנאי המוצר ללא הודעה מוקדמת.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>15.&nbsp;&nbsp;</strong>כדי לבצע הזמנה יש תחילה לבחור את הפריט, הצבע והמידה המבוקשים. עבור כל פריט המוצע באתר יוצג "דף פריט" בו יופיעו פרטי הפריט המוצע ומחירו (להלן &ndash; "דף הפריט").</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>16.&nbsp;&nbsp;</strong>על מנת לבצע רכישה באתר, על המשתמש לבחור סיסמא וכן להקליד פרטים אישיים כגון: שם, כתובת, כתובת דואר אלקטרוני, מספר טלפון ומספר כרטיס אשראי.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>17.&nbsp;&nbsp;</strong>במעמד ביצוע ההזמנה תבצע חברת נעורים בדיקה של פרטי כרטיס האשראי ועם קבלת אישור ההזמנה ע"י חברות כרטיסי האשראי, תימסר למשתמש הודעה מתאימה כי ההזמנה אושרה. מובהר בזאת כי חיוב מבצע הפעולה בגין עלות הפריט הנרכש, יתבצע באמצעות כרטיס האשראי מיד עם סיום ביצוע ההזמנה.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>18.&nbsp;&nbsp;</strong>עסקת הרכישה תושלם רק לאחר השלמת תהליך ההזמנה ולאחר שחברת נעורים תקבל אישור מאת חברת כרטיסי האשראי לביצוע החיוב, בהתאם לנוהלי העבודה הקיימים בינן לבין חברת נעורים. במקרה בו לא אושרה העסקה ע"י חברות האשראי &ndash; יקבל המשתמש הודעה מתאימה.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>19.&nbsp;&nbsp;</strong>כמו כן, השלמת הרכישה מותנית בכך שהפריטים המבוקשים קיימים במלאי בעת השלמת הליך ההזמנה. במקרה של פריט אשר אזל מהמלאי ו/או שישנה בעיה באספקתו, מכל סיבה שהיא, תהיה חברת נעורים רשאית להודיע למשתמש על ביטול ההזמנה. במקרה האמור, לא תהיה למשתמש טענה כלשהי כנגד נעורים ובעצם ביצוע ההזמנה, מוותר המשתמש על כל טענה כאמור.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>20.&nbsp;&nbsp;</strong>נעורים שומרת לעצמה את הזכות להגביל את מספר הפריטים שניתן לרכוש בכל הזמנה.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>21.&nbsp;&nbsp;</strong>ההזמנה תרשם במחשבי נעורים וניתן יהיה לראותה ולעקוב אחר הטיפול בה בקישור "החשבון שלי" שבאתר.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>22.&nbsp;&nbsp;</strong>כמו כן, יישלח אישור בדואר אלקטרוני על ביצוע הפעולה בתוך 48 שעות מסיום ביצוע עסקת הרכישה על ידי המשתמש באתר. אין הודעה זו מהווה ראיה בדבר השלמת הפעולה ואין במשלוח הודעת הדוא"ל כדי לחייב את נעורים.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>23.&nbsp;&nbsp;</strong>המידע שיימסר על ידי המשתמש באתר ישמש בין השאר לשליחת דואר אלקטרוני בנוגע למבצעים מיוחדים או עדכונים באתר, זאת לאחר קבלת אישור המשמש לכך.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>24.&nbsp;&nbsp;</strong>יש לשים לב, על מנת שההזמנה תתבצע במהירות וללא תקלות יש להקפיד על מסירת הפרטים הנכונים אחרת לא תוכל חברת נעורים להבטיח את ביצוע ההזמנה. מסירת פרטים כוזבים ביודעין עלולה לעלות כדי עבירה פלילית. נגד מזינים פרטים כוזבים עלולים להינקט צעדים משפטיים לרבות תביעות נזיקין בגין נזקים שיגרמו לנעורים עקב שיבוש הפעלת האתר.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>25.&nbsp;&nbsp;</strong>נעורים רשאית לעדכן את דף הפריט מעת לעת, להוסיף או להחסיר פרטים, להסיר מוצרים שאזלו מהמלאי, להוסיף צבעים ו/או מידות וכן לעדכן ו/או לשנות את מחיר הפריט.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>26.&nbsp;&nbsp;</strong>מובהר בזאת, כי התמונות באתר הן להמחשה בלבד וכי ייתכנו שינויים בין התמונות, לרבות הצבעים המופיעים בתמונות ופרטי הפריטים ובין הפריטים בפועל.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>27.&nbsp;&nbsp;</strong>המחירים המוצגים באתר כוללים מע"מ על פי דין, אלא אם כן צוין אחרת במפורש.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 16pt;"><strong>28. מועדי אספקה, הובלה ומשלוח:</strong></span></p>
<p style="text-align: right;"><span style="font-size: 16pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>29.&nbsp;&nbsp;</strong>המשתמש רשאי לבחור באספקת הפריטים המוזמנים ישירות לביתו ו/או ליעד אחר לפי בחירתו או לחלופין, לבחור באספקת לחנות נעלי נעורים על פי בחירתו.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>30.&nbsp;&nbsp;</strong>אספקה לבית המשתמש:</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;30.1. חברת נעורים תשלח למשתמש את הפריטים באמצעות חברת שילוח עצמאית (להלן &ndash; "חברת שילוח").</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;30.2. חברת השילוח תספק את הפריטים תוך 2-7&nbsp;</span>ימי עסקים ממועד ביצוע ההזמנה באתר.</p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;30.3. חברת נעורים אינה אחראית <span style="font-size: 16px;">לכל מ</span>עשה ו/או מחדל של חברת השילוח, לרבות איחור בביצוע האספקה.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;30.4. לא תתבצע אספקת מוצרים מחוץ לישראל וכן אל אזורים המוגבלים מבחינה ביטחונית. כמו כן לא תתאפשר אספקת מוצרים בימי שישי, שבת, ערבי חג וחג.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;30.5. אספקת פריטים לבית המשתמש כרוכה בתשלום דמי משלוח כמפורט באתר (להלן &ndash; "דמי משלוח"). דמי המשלוח יתווספו למחיר הפריטים. דמי המשלוח יגבו בגין אספקה ליעד אחד ללא תלות בכמות הפריטים.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>31.&nbsp;&nbsp;</strong>אספקה לחנות נעלי נעורים :</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;31.1. אספקת הפריטים תבוצע בתוך 2&nbsp;ימי עסקים.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;31.2. עם הגעת הפריטים המוזמנים לנעלי נעורים , ייצור נציג נעורים קשר טלפוני עם המשתמש לצורך עדכונו בדבר הגעת הפריטים .</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;31.3. על המשתמש לאסוף את הפריטים מהחנות במהלך שעות הפעילות של החנות.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;31.4. נעורים תשמור את הפריטים בחנות האמור במשך 10 ימים. במקרה שהמשתמש לא יופיע לאיסוף הפריטים, תהיה חברת נעורים רשאית לבטל את העסקה.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;31.5. במקרה של אספקת הפריטים לחנות נעורים ואיסופם באופן עצמאי על ידי המשתמש, לא יחויב המשתמש בתשלום דמי משלוח.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>32.&nbsp;&nbsp;</strong>זמני האספקה המפורטים לעיל ימנו החל ממועד אישור ההזמנה על ידי חברת כרטיס האשראי.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>33.&nbsp;&nbsp;</strong>מובהר כי הזמנים הינם זמנים משוערים וכי ייתכנו שינויים בזמני האספקה עקב עיכובים התלויים בצד ג' ושאינם תלויים בנעורים.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>34.&nbsp;&nbsp;</strong>חברת נעורים לא תהיה אחראית לאיחור בביצוע אספקת הפריטים עקב "כוח עליון" ומבלי לפגוע בכלליות האמור, מלחמה, פעולות איבה, מצבי חירום, נזקי טבע, שביתה או השבתה אצל ספקי הסחורות הדרושים לייצור ו/או הובלת הפריטים וכן בגין כל סיבה אחרת שאינה בשליטת נעורים.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>35.&nbsp;&nbsp;</strong>למען הסר ספק מובהר, כי נעורים אינה מתחייבת לזמן אספקה כלפי מוצרים שאינם נמצאים במלאי.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>36.&nbsp;&nbsp;</strong>מובהר, כי אספקת הפריטים יכול ותותנה בהצגת תעודת הזהות של המשתמש וכן במספר אישור ההזמנה כפי שהתקבל ממערכת ההזמנות ו/או בכל אמצעי זיהוי נוסף, זאת על פי שיקול דעתה הבלעדי של נעורים.</span></p>
<p style="text-align: right;"><span style="font-size: 16pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 16pt;"><strong>מדיניות ביטולים והחזרת מוצרים:</strong></span></p>
<p style="text-align: right;"><span style="font-size: 16pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">כל האמור תחת כותרת זו מהוה גילוי בהתאם לחוק הגנת הצרכן, התשמ"א -1981 (להלן &ndash; "חוק הגנת הצרכן"), ואין הוא בא להוסיף על זכויות, בכל דרך שהיא. ככל שיבוצעו תיקונים בחוק הגנת הצרכן, יחולו תיקונים אלה ויגברו על המפורט להלן.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">המשתמש רשאי לבטל את העסקה שביצע באתר בהתאם להוראות חוק הגנת הצרכן או לחלופין להחליף את המוצר כנגד מוצר חלופי שווה ערך או זיכוי כספי והכל כפי שמפורט להלן:</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>37.</strong>&nbsp; ביטול עסקה תוך שעה מרגע השלמת הזמנת הפריטים ובטרם משלוח הפריט:</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;37.1. ביטול העסקה יעשה באמצעות הודעת ביטול לכתובת המייל: &nbsp;neurimshoes@gmail.com</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;37.2. בנסיבות אלה, יהיה המשתמש זכאי להחזר תשלום במלואו (לרבות בגין דמי המשלוח, ככל שנגבו).</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>38.</strong>&nbsp; ביטול עסקה לאחר קבלת הפריט בידי המשתמש, שלא עקב פגם במוצר ו/או אי התאמה:</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;38.1. המשתמש יהא רשאי לבטל את עסקת הרכישה בתוך 14 ימים מיום קבלת הפריט ובתנאי שהמוצר תקין ולא נעשה בו שימוש.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;38.2. ביטול העסקה יבוצע באמצעות השבת הפריט לאחד מסניפי נעורים לפי בחירתו של המשתמש ובתנאי שהפריט תקין ולא נעשה בו כל שימוש.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;38.3. מובהר כי בנסיבות אלה, לא יהא זכאי המשתמש להחזר בגין דמי המשלוח ששולמו על ידו (ככל ששולמו).</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>39.</strong>&nbsp; ביטול עסקה כתוצאה מפגם ו/או אי התאמה:</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;39.1. על המשתמש לבדוק את הפריט מיד עם קבלתו.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;39.2. במידה והפריט התקבל על ידי המשתמש כשהוא פגום, או כאשר הוא שונה בפועל מהמפרט שהוצג באתר, יהיה רשאי לבטל את העסקה תוך 14 ימים מיום קבלת הפריט לידיו באמצעות השבת המוצר לאחד מסניפי נעורים.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;39.3. ככל וחברת נעורים תסבור כי הביטול אכן מוצדק, תזכה את הלקוח במלוא סכום העסקה באמצעות חברת האשראי.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>40.</strong>&nbsp; מבלי לפגוע באמור לעיל, יובהר כי החזרת מוצר, החלפתו במוצר אחר או קבלת זיכוי כספי תעשה בכפוף לתנאים הבאים:</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;40.1. החזרת הפריט תעשה באמצעות צירוף חשבונית ובתנאי שלא נעשה כל שימוש בפריט ולא הוסרו תוויות הפריט (ככל שקיימות) ובאריזתו המקורית.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;40.2. החזר כספי במקרה של ביטול עסקה יבוצע זיכוי כרטיס האשראי שבאמצעותו בוצעה העסקה בתוך 30 ימים מקבלת הבקשה לביטול העסקה והפריט מוחזר.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;40.3. החלפת הפריט במוצר אחר או החזרתו כנגד קבלת זיכוי כספי תיעשה בחנויות נעורים, תוך 14 ימים מיום קבלת המוצר על ידי המשתמש ובתנאי שלא נעשה בו שימוש והכל בהתאם למדיניות ההחלפות הכללית הנוהגת בנעורים, כפי שתעודכן מעת לעת.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>41.</strong>&nbsp; במידה ומשתמש לא סיים את הזמנתו, לרבות עקב אי הזנת שם ומספר כרטיס אשראי, בתוך 14 ימים מיום ביצוע ההזמנה, תהא רשאית חברת נעורים לבטל את ההזמנה, בהתאם לשיקול דעתה הבלעדי.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>42.</strong>&nbsp; בכל מקרה בו מחמת "כוח עליון", יבצר מחברת נעורים לנהל את האתר, לספק את המוצרים או לעמוד בהתחייבות אחרת שלה, תהא חברת נעורים רשאית לבטל את ההתקשרות עם המשתמשים, כולם או חלקם.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>43.</strong>&nbsp; במידה וגורמים ו/או אירועים שאינם בשליטת בעלי האתר ו/או מפעליו יעכבו ו/או ימנעו את קיום מכירת המוצרים, באופן מלא ו/או חלקי ו/או את אספקת המוצרים שפורסמו באתר במועדים שנקבעו, ו/או יפגעו תקלות במחשוב ו/או במערכות הטלפון ו/או כל גורם תקשורת אחר בהשלמת הליך הרכישה, ו/או אם יחולו שינויים בשיעורי המס ו/או היטלים החלים על המוצרים בין מועד הפרסום ו/או המכירה לבין מועד האספקה המתוכנן על פי תנאי רכישת המוצר, רשאי האתר לבטל את ההתקשרות עם המשתמשים, כולם או חלקם ו/או להפסיק את פעילות האתר.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>44.</strong>&nbsp; מבלי לגרוע מהאמור לעיל, הרי שאם לאחר סיום המכירה התגלה כי המוצר שנרכש אזל מהמלאי, רשאית חברת נעורים לבטל את המכירה או להציע מוצר חליפי שווה ערך.</span></p>
<p style="text-align: right;"><span style="font-size: 16pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 16pt;"><strong>אחריות:</strong></span></p>
<p style="text-align: right;"><span style="font-size: 16pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>45.</strong>&nbsp; כל המוצרים המוצעים באתר בינם חדשים לחלוטין ומסופקים באריזתם המקורית.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>46.</strong>&nbsp; תקופת האחריות הינה למשך 3 חודשים מיום האספקה.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>47. </strong>&nbsp;חברת נעורים מתחייבת לבדוק ולתקן מוצר בתקופה ובמסגרת האחריות, במידת הצורך, תוך 7 ימי עסקים. &nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>48.</strong>&nbsp; חברת נעורים מתחייבת לדאוג לתיקונו של כל פגם במוצר הנובע מפגם בחומר או בתהליך הייצור וזאת בתקופת האחריות ובכפוף לשימוש סביר במוצר.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>49.</strong>&nbsp; במידה והפגם במוצר (שהינו במסגרת האחריות) אינו ניתן לתיקון, תוצע ללקוח החלפת המוצר או תעודת זיכוי כספית.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>50.</strong>&nbsp; אחריות חברת נעורים אינה חלה במקרים הבאים:</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;50.1. האחריות אינה מכסה מנגנוני תאורה, פייטים, שרוכים, אבנים וכל קישוט כזה או אחר.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;50.2. בלאי, שחיקה ושפשוף לאחר שימוש במוצר אינם נחשבים לפגמים בייצור ואינם נמצאים באחריות החברה.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;50.3. שימוש במוצר או בחלקיו שאינו סביר ורגיל.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;50.4. פגם הנגרם כתוצאה משימוש כלשהו במים (כביסה) או חומרי ניקוי.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 12pt;">&nbsp; &nbsp;50.5. השירות יינתן כנגד חשבונית הקנייה.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>51.</strong>&nbsp; כל התכנים, מוצרים, שירותים וטקסטים הניתנים על-ידי חברת נעורים באתר מוצעים כמות שהם ("AS IS") וכפי שהם (&ldquo;AS AVAILABLE&rdquo;) ומבלי ליתן אחריות מכל סוג שהוא, בין מפורשת ובין משתמעת.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>52.</strong>&nbsp; חברת נעורים עושה כל מאמץ לשמור על תקינות פעילותו ורציפותו של שירות אתר המכירות. למרות מאמציה ומאחר ומדובר בסביבה מקוונת, חברת נעורים אינה אחראית ולא תהא אחראית באופן כלשהו לפעילותן התקינה של רשת האינטרנט והמחשוב, על כל מרכיביה לרבות שרתי האתר ו/או החומרה והתוכנה בהם היא עושה שימוש ולא תישא באחריות להפסקות, הפרעות, ניתוקים, נזקים, הוצאות, מניעת רווח וכיו"ב, אשר יגרמו למשתמש. המשתמש מצהיר בזה כי ידוע לו שקבלת השירותים כפופה לזמינות ותקינות רשת האינטרנט ועל כן לא יהא רשאי להעלות כנגד חברת נעורים כל טענה ו/או תביעה ו/או דרישה בגין נזק שיגרם עקב טעות, תקלה, איחור, כשל טכני או אחר.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>53.</strong>&nbsp; חברת נעורים אינה אחראית לתוכנו, שלמותו, מהימנותו או דיוקו של כל מידע או נתון הנמצא ו/או שיועבר אליך באמצעות האתר ו/או השירותים. המשתמש פוטר בזאת את חברת נעורים מכל טענה ו/או דרישה בגין כל אבדן, נזק או הפסד, ישיר או עקיף, אשר נגרם כתוצאה מהסתמכות או שימוש במידע. האמור יחול גם על כל מידע המופיע בקישורים לאתרי אינטרנט אחרים (link) ו/או באתרים אליהם ניתן להגיע באמצעות האתר. כמו כן, כל התמונות באתר הינן לשם ההמחשה בלבד.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>54.</strong>&nbsp; חברת נעורים לא תישא באחריות לפעילות בלתי חוקית על ידי משתמשי האתר או על ידי כל גורם אחר שאינו מצוי בשליטתו המלאה.</span></p>
<p style="text-align: right;"><span style="font-size: 16pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 16pt;"><strong>סודיות, אבטחת מידע ושמירת תכנים:</strong></span></p>
<p style="text-align: right;"><span style="font-size: 16pt;"><strong>&nbsp;</strong></span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>55.</strong>&nbsp; בכוונת הנהלת האתר כי האתר ושירותיו יהיו זמינים בכל עת. יחד עם זאת אין ביכולת הנהלת האתר להתחייב לזמינות רצופה ללא תקלות וללא "נפילות". כמו כן רשאית הנהלת האתר להפסיק את השימוש באתר מעת לעת לצורכי תחזוקתו וארגונו. לא יינתן כל פיצוי כספי /זיכוי בשל תקלות או הפסקות בשירות.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>56.</strong>&nbsp; חברת נעורים או מי מטעמה נוקטים באמצעי זהירות מקובלים על מנת לשמור, ככל האפשר על סודיות המידע. פרטיו האישיים של המשתמש ישמרו במאגר המידע של חברת נעורים. אתר נעורים הינו אתר מאובטח, כלומר, הנתונים אשר יוזנו למערכת על ידי לקוחות בעת ההרשמה ו/או הגלישה ו/או הרכישה, יישארו חסויים ומאובטחים. יובהר כי פרטי כרטיס האשראי של המשתמשים המבצעים פעולות באתר אינן נשמרים כלל במערכות נעורים מאחר ונעורים נעזרת בחברה חיצונית ( שם החברה) לצורך סליקת כרטיסי האשראי.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>57.</strong>&nbsp; האתר מתעדכן באופן שוטף בהתפתחויות הטכנולוגיות בתחומי התוכנה והחומרה על מנת לספק ללקוחותיו הגנה הולמת מפני חדירה או פריצה בהתאם לשיקול דעתה ועל פי המקובל בעולם האינטרנט. יחד עם זאת, נוכח מגבלות האבטחה למערכות מידע ותקשורת מפני חדירות בלתי מורשות ושימוש אסור בתכני המשתמשים, לא יישא האתר בכל אחריות במקרה של גילוי ו/או שימוש בתכני המשתמשים למעט שימוש שלא כדין על ידי החברה.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>58.</strong>&nbsp; יובהר כי בעצם עריכת ההזמנה מסכימים המשתמשים לשימוש האתר בתכנים לצורך ביצוע השירותים, הגבייה וכל פעילות הקשורה לשירותים. חברת נעורים לא תעביר פרטים מזהים אודותיך לצד שלישי, למעט לחברות האשראי, גורמים רלוונטיים לצורך ביצוע המכירה ולכל ערכאה שיפוטית למעט: אם קיימת חובה שבדין להעביר את המידע אודותיך לאחר ו/או לשם גביית כספים המגיעים ממך בגין רכישת מוצר באתר ו/או בקשר למתן תעודות אחריות או קבלת שירות למוצר או לצורך אספקת המוצר ו/או אם הפרת את תנאי הסכם זה או כל הסכם נוסף עם חברת נעורים ו/או בכל מחלוקת, טענה, דרישה או הליכים משפטיים, אם יהיו בינך ובין חברת נעורים ו/או אם עשית שימוש באתר לביצוע מעשה או מחדל בלתי חוקי או כדי לאפשר, להקל, לסייע או לעודד ביצועו של מעשה כזה.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>59.&nbsp;&nbsp;</strong>הפרטים אשר נמסרים בעת השימוש באתר, כולם או חלקם ישמרו במאגרי המידע של חברת נעורים.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>60.</strong>&nbsp; חברת נעורים שומרת לעצמה את הזכות לאסוף בעת הימצאותך באתר, מידע אדוות הרגלי הקנייה שלך, מוצרים שרכשת, מוצרים בהם הבעת עניין, עמודים שצפית בהם, וכל מידע אחר לרבות בדרך של שימוש ב cookies. המידע האמור ישמש את חברת נעורים בכניסותיך הבאות לאתר וכן יאפשר להציע לך הצעות ומבצעים ממוקדים.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>61.</strong>&nbsp; חברת נעורים תהא רשאית להשתמש בפרטים שמסרת וכל מידע שייאגר אודותיך בעת השימוש באתר לצורך הפקה וניתוח של מידע סטטיסטי.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>62.</strong>&nbsp; לא חלה עליך חובה חוקית למסור המידע האמור לעיל, אך מסירת הפרטים ו/או אישור התקנון מהווה הסכמה מצדך לכל השימושים הקבועים בתקנון זה בקשר עם המידע ולהעברתו לצדדים שלישיים בהתאמה להוראות תקנון זה.</span></p>
<p style="text-align: right;"><span style="font-size: 16pt;">&nbsp;</span></p>
<p style="text-align: right;">&nbsp;</p>
<p style="text-align: right;"><span style="font-size: 16pt;"><strong>שירות לקוחות:</strong></span></p>
<p style="text-align: right;"><span style="font-size: 16pt;"><strong>&nbsp;</strong></span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>63.</strong>&nbsp; לפרטים ובירורים באשר למוצרים ו/או אספקתם ניתן לפנות אל מחלקת שירות לקוחות של נעורים במייל: neurimshoes@gmail.com או בטלפון: 03-5052769.</span></p>
<p style="text-align: right;"><span style="font-size: 16pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 16pt;"><strong>קניין רוחני:</strong></span></p>
<p style="text-align: right;"><span style="font-size: 16pt;"><strong>&nbsp;</strong></span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>64.</strong>&nbsp; כל זכויות הקניין הרוחני בקשר עם האתר מכל מין וסוג שהוא (וזאת בין אם מדובר בזכויות רשומות או בזכויות שטרם נרשמו או שאין מתקיים מרשם בעניינן) לרבות סודות מסחריים, עיצוב, בסיסי הנתונים על כל סוגיהם, קוד המחשב של האתר וכל פרט אחר הקשור באתר ובהפעלתו, הינם רכושה הבלעדי של חברת נעורים בלבד והשימוש בכל הזכויות האמורות מותר לחברה בלבד.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>65.</strong>&nbsp; סמלילים (icons) וכל מידע ו/או אופן הצגה באתר וכן סימני מסחר, סימני לוגו והצגתם של אלה, הינם בבעלות בלעדית של חברת נעורים ואין להעתיק, לשכפל, להפיץ, לפרסם את התכנים המופיעים באתר או לעשות בהם שימוש בכל דרך אחרת.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>66.</strong>&nbsp; כל תוכנו של האתר &ndash; ובכלל זה דמויות, טקסט, סימני מסחר, אייקונים, גרפיקה וקוד מקור &ndash; הינו רכושה של החברה ומוגן בחוק. הליקוט (כולל האיסוף, הסידור והארגון) של תוכן האתר הינו רכושה של חברת נעורים ומוגן בחוק. ניתנת הרשות בזה לכל אדם לצפות בכל דף באתר ולהשתמש באתר כמקור מידע ולקניות, אך לא לכל שימוש אחר.</span></p>
<p style="text-align: right;"><span style="font-size: 16pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 16pt;"><strong>דין וסמכות שיפוט:</strong></span></p>
<p style="text-align: right;"><span style="font-size: 16pt;"><strong>&nbsp;</strong></span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>67.</strong>&nbsp; הדין אשר יחול על האתר, ההתקשרויות עם חברת נעורים וכיוצא באלה, יהיה הדין הישראלי בלבד.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>68.</strong>&nbsp; בכל תובענה אשר עילתה נובעת מתקנון זה ו/או השימוש באתר, תוקנה הסמכות הבלעדית והיחודית לבתי המשפט המוסמכים בתל אביב-יפו ונשללת בזה סמכותה של כל ערכאה שיפוטית אחרת.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>69.</strong>&nbsp; בכל מקרה בו יקבע בעתיד, כי הוראה מהוראות תקנון זה אינה תקפה או אינה אכיפה, אזי תשתנה הוראה זו להוראה תקפה ו/או ברת אכיפה שמהותה קרובה ככל הניתן להוראה האמור.</span></p>
<p style="text-align: right;"><span style="font-size: 16pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 16pt;"><strong>תנאים נוספים:</strong></span></p>
<p style="text-align: right;"><span style="font-size: 16pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>70.</strong>&nbsp; נפלה טעות קולמוס בתיאור המוצר, לא יחייב הדבר את&nbsp;חברת נעורים. תמונות המוצרים באתר נועדו להמחשה בלבד וייתכנו הבדלים בין התמונות המוצגות באתר, חלקן או כולן, לבין המוצרים הנמכרים בפועל.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>71.</strong>&nbsp; חברת נעורים&nbsp;ו/או מי מטעמה לא תהא אחראית ולא תישא בכל נזק ישיר, עקיף, תוצאתי או מיוחד שנגרם למשתמש או לצד שלישי, כתוצאה משימוש או רכישה באמצעות&nbsp;האתר&nbsp;שלא על פי תקנון זה, תהא עילת התביעה אשר תהא, לרבות הפסד הכנסה ו/או מניעת רווח שיגרמו מכל סיבה שהיא.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>72.</strong>&nbsp; אין בהצגת המוצרים ו/או שירותים המוצגים באתר זה משום הבעת דעה לגבי אופיים או טיבם ע"י&nbsp;חברת נעורים.</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;">&nbsp;</span></p>
<p style="text-align: right;"><span style="font-size: 14pt;"><strong>73.</strong>&nbsp; חברת נעורים רשאית, לפי שיקול דעתה, להפסיק פעילותו של כל משתמש בשירותי האתר, אם לא יעמוד בתנאי מתנאי תקנון זה, או יפר הוראת כל דין, לרבות על ידי חסימת מספר IP .</span><span style="font-size: 12pt;">&nbsp;</span>&nbsp;</p>
      </div>
      
  </div>
</div>
