.modal-title {
    text-align: center;
}

.spacer {
    margin: 3% 0 0 0;
}

.groupSeperator {
    border-bottom: 1px solid black;
}

.downDisabled
{
    color: lightgray;
}

.showInStock
{
    color: blue;
    font-weight: bold;
}

.OrDiscount
{
    font-size:20px;
}

.deleteBtn {
    float:left;
}