<div class="container">
<form #addEditform="ngForm" (ngSubmit)="doneEditShoe(currentShoe)">
  <div >
      <h4 class="modal-title">{{currentShoe.id}} עריכה</h4>
  </div>
  <div class="addForm">
      <div class="form-group">
          <mat-checkbox name="active" class="example-margin" [(ngModel)]="currentShoe.active" [checked]="currentShoe.active">?להציג באתר</mat-checkbox>
      </div>
      <div class="form-group">
        <label for="compId">חברה</label>
        <select id="compId"  class="form-control" name="company" [(ngModel)]="currentShoe.companyId" required>
          <option *ngFor="let company of companies" [value]="company._id" >{{company.name}}</option>
        </select>
      </div>
      <div class="form-group">
          <label for="shoeId">דגם</label>
          <input class="form-control" type="text" name="name" [(ngModel)]="currentShoe.name" placeholder="...הכנס דגם" required>
      </div>
      <div class="form-group">
          <div class="input-group">
            <label for="shoeId">מחיר לפני הנחה</label>
            <mat-grid-list cols="3" rowHeight="40px">
                  <mat-grid-tile  colspan="2">
                        <span class="input-group-addon">₪</span>
                        <input class="form-control" type="number" name="price" [(ngModel)]="currentShoe.price" placeholder="...הכנס מחיר" step="any" min="0">
                  </mat-grid-tile>
                  <mat-grid-tile>
                      <button *ngIf="!currentShoe.discount" type="button" (click)="addRemoveDiscount(currentShoe)" class="btn btn-success"><i class="fa fa-plus fa-1x" aria-hidden="true"></i>הוספת הנחה</button>
                      <button *ngIf="currentShoe.discount" type="button" (click)="addRemoveDiscount(currentShoe)" class="btn btn-danger"><i class="fa fa-minus fa-1x" aria-hidden="true"></i>הסרת הנחה</button>
                  </mat-grid-tile>
            </mat-grid-list>
        </div>  
      </div>
      <div class="form-group" *ngIf="currentShoe.discount">
          <div class="input-group">
          <label for="shoeId">הנחה</label>
          <mat-grid-list cols="5" rowHeight="40px">
              <mat-grid-tile colspan="2">
                  <span class="input-group-addon">%</span>
                  <input class="form-control" type="number" name="discountPer" (change)="discountCalc(currentShoe)" [(ngModel)]="currentShoe.discount.percentage" placeholder="הנחה באחוזים" step="any" min="0" max="100">
              </mat-grid-tile>
              <mat-grid-tile>
                  <div class="OrDiscount">או</div>
              </mat-grid-tile>
              <mat-grid-tile colspan="2">
                  <span class="input-group-addon">₪</span> 
                  <input class="form-control" type="number" name="discountCash" (change)="discountCalc(currentShoe)" [(ngModel)]="currentShoe.discount.newAmount" placeholder="המחיר החדש" step="any" min="0">
              </mat-grid-tile>
         </mat-grid-list>
         <b>מחיר סופי {{currentShoe.finalPrice}}</b>
         </div>
      </div>
      <hr>
      <div class="form-group" >
          <mat-checkbox *ngFor="let gen of genders" [name]="'gender' + gen.name" class="example-margin" [(ngModel)]="gen.mark" [checked]="gen.mark">{{ gen.name }}</mat-checkbox>
      </div>
      <hr>
      <div class="form-group" >
        <mat-radio-group [(ngModel)]="currentShoe.classification" name="classification">
          <mat-radio-button *ngFor="let classification of classifications"  class="example-margin" [value]="classification._id" >{{classification.name}}</mat-radio-button>
        </mat-radio-group>
    </div>
    <hr>
      <div class="form-group">
        <label for="sellInfo">משפטי מכירה</label>
        <input *ngFor="let info of currentShoe.information; let k = index" class="form-control"  type="text" [name]="'information' + k" [ngModel]="currentShoe.information[k]" placeholder="משפט מכירה" (change)="removeInfoIfEmpty($event,k)" required />
        <input #newInfo class="form-control" type="text" name="informationNew" placeholder="משפט מכירה" (change)="currentShoe.information.push($event.target.value);newInfo.value = ''" />
      </div>
       
      <div *ngFor="let ig of currentShoe.imagesGroup; let i = index" class="groupSeperator spacer">
        <div class="row">
            <div class="col-md-12"> 
                <button type="button" (click)="removeGroupImage(i)" class="btn btn-danger"><i class="fa fa-trash fa-1x" aria-hidden="true"></i>הסרת צבע</button><br>
                <label>צבע</label>
                <input class="form-control" type="text" [name]="'color' + i" [(ngModel)]="ig.color" placeholder="צבע בתמונה" required>
                <label>מידות</label><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-xs-4 sizeSpacer" *ngFor="let sizeOption of ig.sizeOptions" [ngClass]="{'showInStock': sizeOption.amount > 0 }">
                <i class="fa fa-chevron-circle-up fa-1" aria-hidden="true" (click)="sizeUp(sizeOption)"></i>{{ sizeOption.name }} ({{ sizeOption.amount }})
                <i class="fa fa-chevron-circle-down fa-1" [ngClass]="{'downDisabled': sizeOption.amount === 0 }"  aria-hidden="true" (click)="sizeDown(sizeOption)"></i>
            </div>
        </div>
        <div class="row" >
            <div class="col-xs-12 col-md-3" *ngFor="let img of ig.images; let j = index">
                <button class="btn btn-lg btn-danger trashBtn" (click)="deleteImage(currentShoe,i,j)"><i class="fa fa-6 fa-trash" aria-hidden="true"></i></button>
                <img [src]="img.urlMedium" class="mx-auto d-block" width="255" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" (click)="pictureBtn.click()" class="btn btn-success spacer"><i class="fa fa-plus fa-1x" aria-hidden="true"></i>הוספת תמונה</button>
                <input [hidden]="true" #pictureBtn type="file" accept="image/*" capture="camera" [name]="'image_' + i + '_' + j" [(ngModel)]="currentShoe.image" (change)="handleInputChange($event,ig)" />
            </div>
        </div>
      </div> 
      <button type="button" (click)="addGroupImage()" class="btn spacer"><i class="fa fa-plus fa-1x" aria-hidden="true"></i>הוספת צבע</button>
  </div>
  <div class="spacer">
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="backClicked()">סגור</button>
    <button type="submit" class="btn btn-primary" [disabled]="!addEditform.form.valid">שמור</button>
  </div>
  </form>
</div>