.image-container
{
    text-align: center;
}

.companies-container
{
    margin: 20px 0 20px 0;
}

.companies-header
{
    font-weight: bold;
    font-size: 22px;
}

.image-container
{
    position: initial;
}