.image-container
{
    text-align: center;
    position: relative;
}

.insideImage {
    position: absolute;
    top: 10%;
    right: 10%;  
}

.colorCard {
    background-color: #cfc4b0;
    
    .btnInsideImage {
        background-color: #9b8254;
        color:white;
    }
}

.companies-container
{
    margin: 20px 0 20px 0;
}

.companies-header
{
    font-weight: bold;
    font-size: 22px;
}



.companyContainer
{
    a {
        

        img {
            opacity: 0.8;
            border: 2px solid white;
            border-radius: 4px;
            padding: 4px 4px;
            margin: 2px 2px;
            -webkit-transition: opacity 0.5s ease-in-out;
            -moz-transition: opacity 0.5s ease-in-out;
            -ms-transition: opacity 0.5s ease-in-out;
            -o-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;

        }
        img:hover {
            border-color:#b4d5fb;
            opacity: 1;
        }
        img.marked {
            border-color:#254574 !important;
        }
    }

}

.responsiveImg {
    width: 100%;
    height: auto; 
}