<div class="image-container">
    <picture>
        <source media="(max-width: 650px)" srcset="https://source.unsplash.com/FKBg2JNYFFc/400x160">
        <source media="(max-width: 1100px)" srcset="https://source.unsplash.com/FKBg2JNYFFc/900x290">
        <img src="https://source.unsplash.com/FKBg2JNYFFc/1440x500" alt="">
        <!-- Ny1vyUgidMg -->
    </picture>
</div>
<div class="companies-container">
    <div class="row companies-header">
        <div class="col-md-9"></div>
        <div class="col-md-2">חברות פופולריות</div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div *ngFor="let company of companies;let i = index">
            <div class="col-md-2 companyContainer">
                <a [routerLink]="[company.name]">
                    <img src={{company.image}} width="180" alt="{{ company.name }}"/>
                </a>
            </div>
        </div>       
    </div>
</div>
