<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" >
  <h4 class="card-header">מספר נעליים במערכת ({{shoes.length}})</h4>
  <div class="card-block">
    <table class="table table-bordered table-striped" >
      <thead class="thead-default">
        <tr>
          <th></th>
          <th>?פעיל</th>
          <th>מספר מזהה</th>
          <th>שם דגם</th>
          <th>חברה</th>
          <th>מין</th>
          <th>קהל יעד</th>
          <th>עונה</th>       
        </tr>
      </thead>
      <tbody *ngIf="shoes.length === 0">
        <tr>
          <td colspan="4">אין נעליים</td>
        </tr>  
      </tbody>
      <tbody>
        <tr *ngFor="let shoe of shoes">
          <td>
            <button class="btn btn-sm btn-warning" (click)="enableEditing(shoe,modal)"><i class="fa fa-pencil"></i>ערוך</button>
          </td>
          <td>{{shoe.active}}</td>
          <td>{{shoe.id}}</td>
          <td>{{shoe.name}}</td>
          <td>{{shoe.company}}</td>
          <td>{{shoe.gender}}</td>
          <td>{{shoe.kidOrAdult}}</td>
          <td>{{shoe.season}}</td>          
        </tr>  
      </tbody>      
    </table>
  </div>
</div>

<modal #modal>
  <form (ngSubmit)="addEditShoe(shoe)">
    <modal-header [show-close]="true">
        <h4 class="modal-title">עריכה</h4>
    </modal-header>
    <modal-body class="addForm">
        <div class="form-group">
            <md-checkbox name="active" class="example-margin" [(ngModel)]="shoe.active" [checked]="shoe.active">?להציג באתר</md-checkbox>
        </div>
        <div class="form-group">
          <label for="shoeId">חברה</label>
          <input id="shoeId" class="form-control" type="text" name="company" [(ngModel)]="shoe.company" placeholder="נמרוד" min="0" required>
        </div>
        <div class="form-group">
            <label for="shoeId">דגם</label>
            <input class="form-control" type="text" name="name" [(ngModel)]="shoe.name" placeholder="1234" required>
        </div>
        <div class="form-group">
          <label for="shoeId">מחיר</label>
          <input class="form-control" type="number" name="price" [(ngModel)]="shoe.price" placeholder="199" step="any" min="0">
        </div>
        <div class="form-group" >
            <md-radio-group [(ngModel)]="shoe.kidOrAdult" name="kidOrAdult">
              <md-radio-button align="end" class="example-margin" value="kids">צעירים</md-radio-button>
              <md-radio-button align="end" class="example-margin" value="adult">מבוגרים</md-radio-button>
            </md-radio-group>
        </div>
        <div class="form-group" >
            <md-radio-group [(ngModel)]="shoe.gender" name="gender">
              <md-radio-button align="end" class="example-margin" value="unisex">שניהם</md-radio-button>
              <md-radio-button align="end" class="example-margin" value="female">בת</md-radio-button>
              <md-radio-button align="end" class="example-margin" value="male">בן</md-radio-button>
            </md-radio-group>
        </div>
        <div class="form-group" >
            <md-radio-group [(ngModel)]="shoe.season" name="season">
              <md-radio-button align="end" class="example-margin" value="winter">חורף</md-radio-button>
              <md-radio-button align="end" class="example-margin" value="summer">קיץ</md-radio-button>
            </md-radio-group>
        </div>
        <div class="form-group">
            <textarea  class="form-control" rows="3"  type="text" name="information" [(ngModel)]="shoe.information" placeholder="...ספרו על הנעל" required></textarea>
        </div>
        <div class="form-group">
          <input type="file" accept="image/*" capture="camera" />
        </div>  
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">סגור</button>
      <button type="submit" class="btn btn-primary" (click)="modal.close()">שמור</button>
      <!-- [disabled]="!addShoesForm.valid" -->
    </modal-footer>
    </form>
</modal>
