.table td, .table th {
   text-align: center; 
}

.modal-title
{
     text-align: center;
}

.addForm
{
    text-align: right;
}

.addForm input
{
    text-align: right;
}

.addForm textarea
{
    text-align: right;
}

.trashBtn
{
    vertical-align: middle;
}

.btn-circle {
    border-radius: 50%;
}

.example-margin
{
    margin: 0 15px;
}

.groupSeperator
{
    border-bottom: 1px solid black;
}
