.table td, .table th {
   text-align: center;
   width: 25%;  
}

.modal-title
{
     text-align: center;
}

.addForm
{
    text-align: right;
}

.addForm input
{
    text-align: right;
}

.addForm textarea
{
    text-align: right;
}




.example-margin
{
    margin-right: 60px;
}
