.shoeContainer
{
    box-sizing: border-box;
    max-height: 300px;
    min-height: 176px;
    max-width: 250px;
    min-width: 100px;
    margin: 20px 20px;
    text-align: center;

    @media(max-width: 500px)
     {
        margin:20px 0 0 0;
     }
}

.imageParent {
    position: relative;
    text-align: center;
    @media(max-width: 500px)
    {
       vertical-align: middle;
       height: 130px; /*can be anything*/
       width: 110px; /*can be anything*/
    }
}

.imgContainer
{
    @media(min-width: 500px)
    {
        height:100px;
    }
     
     @media(max-width: 500px)
     {
        width:110px;
        max-height: 100%;  
        max-width: 100%; 
        width: auto;
        height: auto;
        position: absolute;  
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;  
        margin: auto;
     }
}

a {
    color:#2d5887
}

a:active, a:hover {
    color: #fe5200 !important;
    text-decoration: none;
}
a:visited {
    color: #629ddb
}

.shoeText
{
    margin: 30px 0;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    

    .company {
        font-weight: bold;
        text-decoration: underline;
    }

    .name {
        text-decoration: underline;
    }

    .price {
        font-weight: bold;
        color: #575B5D;
    }
}

.discount {
    text-decoration: line-through;
    font-weight: normal !important;
}


.newTag {
    background-color: rgb(107, 107, 194);
    position: absolute;
    top: 8px;
    right: 16px;
    padding: 0 4px;
    transform: rotate(-90deg);
    color: white;
    z-index: 10;
    @media(max-width: 500px)
    {
        top: 8px;
        right: 30px;
        transform: rotate(0deg);
    }
}

.saleTag {
    background-color: rgb(121, 172, 26);
    position: absolute;
    top: 8px;
    left: 16px;
    padding: 0 4px;
    transform: rotate(90deg);
    color: white;
    z-index: 10;

    @media(max-width: 500px)
    {
        top: 8px;
        left: 8px;
        transform: rotate(0deg);
    }
}


.imageOutOfStock {
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
}

.outofstockTag {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bold;
}
