<div class="shoeContainer">
   <a [routerLink]="linkToDetails"> 
     <span>
        <picture>
            <source media="(max-width: 650px)" [srcset]="shoe.imagesGroup[0].images[0].urlMedium">
            <img [src]="shoe.imagesGroup[0].images[0].urlLarge" class="imgContainer"/>
        </picture>
      </span>
      <div class="shoeText">
        <div class="company">{{shoe.company}}</div>
        <div class="name">{{shoe.name}}</div>
        <div class="price">{{shoe.price}} ₪</div>  
      </div>
   </a> 
  </div>