.spacer {
    margin: 3% 0 0 0;
}

.hide {
    display: none;
}

.borderGray {
    border: 1px solid #dddddd;
    
}

.borderShoes {
    border-left: 1px solid #dddddd;
}

.roundedBorder {
  border-radius: 2px;
}

.shoeHeader
{    
    text-align: center;
    margin: 15px;

    a {
        font-size: 24px;
        font-family:"Georgia, Times New Roman, serif";
        font-style: italic;
        color: #575b5d;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        /* ...and now for the proper property */
        transition:.5s;       
    }

    :hover {
        color: #9ca1a3;
        text-decoration: none;
    }
}


.leftSide{
    margin: 0;
    padding: 0;
    text-align: center;
    .companyLogo
    {
        height: 40px;
    }

    .delim
    {
        width:100%;
        border-bottom: 1px solid #dddddd;
    }

    .grayArea
    {
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #f2f2f2;
    }

    .price
    {
        padding:30px 0;
        color: #fe5400;
        font-size: 43px;
    }

    .buttonBuy
    {
        padding: 20px 0 70px 0;
    }
}

.bigImg
{
    margin: 50px 0;
}

.thumbnailContainer
{
    a {
        

        img {
            opacity: 0.8;
            border: 2px solid white;
            border-radius: 4px;
            padding: 4px 4px;
            margin: 2px 2px;

        }
        img:hover {
            border-color:#b4d5fb;
        }
        img.marked {
            border-color:#254574 !important;
        }
    }

}


.breadCrumbs  {
    a {
        cursor: pointer;
        color: #2d5886;
        text-decoration: none;
    }
   
    a:hover {
        color: #fe5400;
    }
}

.information-header
{
    padding: 5px;
    max-width: 200px;
    background-color: #2d5886;
    color: white
}

.buy-header {
    padding: 5px;
    background-color: #2d5886;
    color: white
}

.infoContainer
{
    margin: 20px 0 100px 0;
}


