.spacer {
    margin: 3% 0 0 0;
}

.hide {
    display: none;
}

.borderGray {
    border: 1px solid #dddddd;
    
}

.borderShoes {
    border-left: 1px solid #dddddd;
}

.roundedBorder {
  border-radius: 2px;
}

.shoeHeader
{    
    text-align: center;
    margin: 15px;

    a {
        font-size: 24px;
        font-family:"Georgia, Times New Roman, serif";
        font-style: italic;
        color: #575b5d;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        /* ...and now for the proper property */
        transition:.5s;       
    }

    :hover {
        color: #9ca1a3;
        text-decoration: none;
    }
}
.mobile {
    .price
    {
        margin-top: 20%;
        color: #505050;
        font-size: 20px;
    }

    .discount {
        margin: 0;
        padding: 0;
        color: #909090;
        font-size: 18px;
        text-decoration: line-through;
    }
    .companyModelContainer
    {
        text-align: right;
        
        h1 {
            padding: 0;
            margin: 0;
        }
        h2 {
            padding: 0;
            margin: 0;
        }
    }

    .company{
        font-size: 25px;
        font-weight: bold;
        color:black;
    }

    .model{
        font-size: 20px;
        color:#3b3b3b;
    }
}

.leftSide{
    margin: 0;
    padding: 0;
    text-align: center;
    .companyLogo
    {
        height: 40px;
    }

    .delim
    {
        width:100%;
        border-bottom: 1px solid #dddddd;
    }

    .grayArea
    {
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #f2f2f2;
    }

    .price
    {
        padding:30px 0 0 0;
        color: #fe5400;
        font-size: 43px;
    }

    .discount {
        padding: 0 !important;
        color: #575b5d;
        font-size: 27px;
        text-decoration: line-through;
    }
    
    .colors {
        padding:30px 0 0 0;
    }

    .buttonBuy
    {
        padding: 20px 0 70px 0;
    }
}

.bigImg
{
    margin: 50px 0;
}

.thumbnailContainer
{
    a {
        

        img {
            opacity: 0.8;
            border: 2px solid white;
            border-radius: 4px;
            padding: 4px 4px;
            margin: 2px 2px;

        }
        img:hover {
            border-color:#b4d5fb;
        }
        img.marked {
            border-color:#254574 !important;
        }
    }

}


.breadCrumbs  {
    a {
        cursor: pointer;
        color: #2d5886;
        text-decoration: none;
    }
   
    a:hover {
        color: #fe5400;
    }
}

.information-header
{
    padding: 5px;
    max-width: 200px;
}


.infoContainer
{
    margin: 20px 0 100px 0;
}

.text-center {
    text-align: center;
}

.card-header {
    font-weight: bold;
}

.sku
{
    font-style: italic;
}



.leftRs {
    position: absolute;
    margin: auto;
    top: 5;
    bottom: 5;
    width: 30px;
    height: 30px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    color:white;
    background-color: black;
    left: 0;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 5;
    bottom: 5;
    width: 30px;
    height: 30px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    color:white;
    background-color: black;
    right: 0;
}


.carousel {
    
    :host{
        display: block;
        width: 100%;
    }

    /deep/ .ui-carousel-item {
        background-color: transparent !important;
    }

    /deep/ .dot  {
        background-color: #505050 !important;
    }

    /deep/ .arrow  {
        background-color: #505050 !important;

        
    }

    /deep/ .arrow.left {
        left:0%;
    }

    /deep/ .arrow.right {
        right:0%;
    }

    
   ui-carousel{
        display: block;
        margin: 0 auto;
    }
    
    img{
        width: 100%;
    }
}

.sslDetails {
    padding: 0 0 20% 0;
}

.btnWhite {
    background-color: white;
}


