<app-toast [message]="toast.message"></app-toast>

<div [innerHtml]="'<script type=\'application/ld+json\'>' + jsonLdStringifiedObj + '</script>' | safeHtml"></div>

<div style="position:initial">
    <div class="container" >
        <div class="row spacer">
            <div class="col-md-12" style="text-align:center">
              <!-- [אנשים שאהבו את זה ראו גם...] -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                  
           </div>
            <div class="col-md-10 breadCrumbs">
              <a class="link" (click)="backClicked()"><< חזרה</a> | <a href="#" [routerLink]="'/נעלי/נעליים'">נעליים</a> > <a href="#" [routerLink]="'/נעלי/' + shoe?.classificationCache">{{shoe?.classificationCache}}</a> > <a href="#" [routerLink]="'/נעלי/' +shoe?.company">{{shoe?.company}}</a>
            </div>
            
        </div>
        <!-- MOBILE VIEW -->
        <div class="row hidden-md-up" dir="ltr">
                <div class="col-xs-1"></div>
                <div class="col-xs-10">
                    <div class="shoeHeader">
                            <button *ngIf="auth.loggedIn && auth.isAdmin" class="btn btn-sm btn-warning" [routerLink]="'/admin/shoeedit/' + shoe?._id"><i class="fa fa-pencil"></i></button>
                        <a href="#" [routerLink]="linkToCompany">{{shoe?.company}}</a> <a href="#" [routerLink]="linkToShoe">{{shoe?.name}}</a>
                    </div>
                    <div class="carousel" *ngIf="currentImageGroup != null">
                        <ui-carousel [infinite]="true" [fade]="false" [speed]="1000" height="200px" width="255px" >
                            <ui-carousel-item *ngFor="let positionImg of currentImageGroup.images" >
                                    <img [src]="positionImg.urlMedium"/>
                            </ui-carousel-item>
                        </ui-carousel>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-3 thumbnailContainer" *ngFor="let colorImg of shoe?.imagesGroup; let i = index">
                            <a href="#" (click)="selectColor(colorImg,i)" lazy-load-images>
                                <img  class="thumbnail" [attr.data-src]="colorImg.images[0].urlSmall" [ngClass]="{'marked': colorImg == currentImageGroup }"/>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1"></div>
        </div> 
        <!-- END MOBILE -->
        <div class="row">
            <div class="col-md-12 borderGray roundedBorder">
                <div class="row">
                <div class="col-md-3 leftSide" >
                    <a [routerLink]="'/נעלי/' +[company?.name]">
                        <img class="companyLogo" src={{company?.image}} alt="{{ company?.name }}"/>
                    </a>
                    <div class="delim"></div>
                    <div class="sku">מספר מזהה {{ shoe?.id }}</div>
                    <div class="grayArea">
                        <div class="price" *ngIf="shoe?.price !== shoe?.finalPrice">{{shoe?.finalPrice}} ₪</div>  
                        <div class="price" [ngClass]="{'discount': shoe?.price !== shoe?.finalPrice }">{{shoe?.price}} ₪</div>  
                        <div class="colors" *ngIf="shoe?.stock > 0">
                            <mat-form-field>
                                <mat-select name="color" (ngModelChange)="colorChangeEvent($event)" placeholder="בחר צבע" [ngModel]="currentImageGroup?.color" required>
                                    <mat-option *ngFor="let ig of shoe?.imagesGroup" [value]="ig.color">
                                    {{ ig.color }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <div>
                                    <mat-select  placeholder="מידה" name="size" [(ngModel)]="selectedSize" required>
                                        <mat-option *ngFor="let size of currentImageGroup?.sizes" [value]="size.size">
                                        {{ size.size }}
                                        </mat-option>
                                    </mat-select>
                                </div>
                            </mat-form-field>
                        </div>
                        <div *ngIf="shoe?.stock == 0"><h3>אזל המלאי</h3>
                            <br>
                            <button type="button" class="btn btn-info" (click)="orderMore()">תזמינו עוד בבקשה</button>
                        </div>
                        <div class="buttonBuy">
                            <button type="button" [disabled]="!selectedSize" class="btn btn-success" (click)="addToCart()">הוסף לעגלה</button>
                        </div>
                    </div>
                </div>
                  <div class="col-md-9 borderShoes hidden-sm-down">
                    <div class="shoeHeader">
                            <button *ngIf="auth.loggedIn && auth.isAdmin" class="btn btn-sm btn-warning" [routerLink]="'/admin/shoeedit/' + shoe?._id"><i class="fa fa-pencil"></i></button>
                        <a href="#" [routerLink]="linkToCompany">{{shoe?.company}}</a> <a href="#" [routerLink]="linkToShoe">{{shoe?.name}}</a>
                    </div>
                    <!-- DESKTOP VIEW    -->
                    <div class="row hidden-sm-down">
                        <div class="col-md-1"></div>
                        <div class="col-md-9" >
                            <div lazy-load-images>
                                <img class="bigImg" [attr.data-src]="currentImage?.urlLarge"/>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-1 thumbnailContainer">
                            <a href="#" *ngFor="let positionImg of currentImageGroup?.images; let i = index" (click)="selectPosition(positionImg,i)" lazy-load-images>
                                <img class="thumbnail" [attr.data-src]="positionImg.urlSmall" [ngClass]="{'marked': positionImg === currentImage }"/>
                            </a>
                        </div>
                    </div> 
                    <div class="row hidden-sm-down">
                        <div class="col-md-2"></div>
                        <div class="col-md-1 thumbnailContainer" *ngFor="let colorImg of shoe?.imagesGroup; let i = index">
                            <a href="#" (click)="selectColor(colorImg,i)" lazy-load-images>
                                <img  class="thumbnail" [attr.data-src]="colorImg.images[0].urlSmall" [ngClass]="{'marked': colorImg == currentImageGroup }"/>
                            </a>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <!-- PREPROCESS-START -->
                        <div class="col-md-12 hide">
                            <div *ngFor="let ig of shoe?.imagesGroup">
                                <div *ngFor="let positionImg of ig?.images">
                                    <img [src]="positionImg.urlSmall" />
                                    <!-- <img [src]="positionImg.urlMedium" /> -->
                                    <img [src]="positionImg.urlLarge" />
                                </div>
                            </div>
                        </div>
                        <!-- PREPROCESS-END -->
                    </div>
                    
                    <div class="row">
                        <div></div>
                            
                            <div class="col-md-12">
                                <div class="card">
                                <div class="card-header">
                                        אינפורמציה
                                </div>
                                <div class="card-block">
                                    <blockquote class="card-blockquote">
                                    <ul>
                                        <li>{{ shoe?.company}}</li> 
                                        <li>{{ shoe?.classificationCache}}</li>  
                                        <li *ngFor="let info of shoe?.information">{{ info }}</li> 
                                    </ul> 
                                    </blockquote>
                                </div>
                                </div>
                                <div class="text-center">
                                    <h5>נעורים מאז 1965</h5>
                                </div>
                            </div>
                    </div>
                  </div>
                  </div>               
            </div>
      </div>
  </div>
</div>