<app-toast [message]="toast.message"></app-toast>

<div class="login-page">
  <div class="login-card">

    <div class="login-header">
      <a routerLink="/"><img src="assets/images/logoNeurim.svg" alt="נעלי נעורים" class="login-logo"></a>
      <h1 class="login-title">הרשמה</h1>
      <p class="login-sub">צרו חשבון חדש בחינם</p>
    </div>

    <a href="/api/auth/facebook" class="btn-facebook">
      <i class="fa fa-facebook"></i> הרשמה עם Facebook
    </a>

    <div class="login-divider"><span>או</span></div>

    <form [formGroup]="registerForm" (ngSubmit)="register()" class="login-form">
      <div class="login-field" [class.field-error]="!username.pristine && !username.valid">
        <i class="fa fa-user login-field-icon"></i>
        <input class="login-input" type="text" name="username" formControlName="username" placeholder="שם מלא" autofocus>
      </div>
      <div class="login-field" [class.field-error]="!email.pristine && !email.valid">
        <i class="fa fa-envelope login-field-icon"></i>
        <input class="login-input" type="email" name="email" formControlName="email" placeholder='דוא"ל'>
      </div>
      <div class="login-field" [class.field-error]="!password.pristine && !password.valid">
        <i class="fa fa-lock login-field-icon"></i>
        <input class="login-input" type="password" name="password" formControlName="password" placeholder="סיסמה (6 תווים לפחות)">
      </div>
      <button class="btn-login" type="submit" [disabled]="!registerForm.valid">
        <i class="fa fa-user-plus"></i> הרשמה
      </button>
    </form>

    <p class="login-register">
      כבר רשומים? <a routerLink="/login">התחברו כאן</a>
    </p>

  </div>
</div>
