<div class="container-fluid footer">
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-1">
      <a href="#" routerLink="/about">אודותינו</a>
    </div>
    <div class="col-md-1">
        <a href="#" routerLink="/sendusmsg">צרו קשר</a>
    </div>
    <div class="col-md-1">
        <a href="#" routerLink="/נעליים">נעליים</a>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row spacer">
    <div class="col-md-12">
      <address>
          שנקר 52 חולון
          <a href="tel:035052769" class="header-phone">505-2769 (03) <i class="fa fa-phone" aria-hidden="true"></i></a>
       </address>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12"><em>כל הזכויות שמורות לנעלי נעורים בע"מ © 1965–2018</em></div>
    </div>
</div>