$footer-background-color: #0076BE;

.footer
{
    margin: 5% 0 0 0;
    padding: 0;
    background-color: $footer-background-color;
    color: white;
    text-decoration: none;
    text-align: center;
    
}

.header-phone 
{
    color: white;
    text-decoration: none;
}

.spacer
{
    margin: 1% 0 0 0 ;
}