<footer class="site-footer">
  <div class="container-fluid">

    <!-- Links row -->
    <div class="row justify-content-center pt-4 pb-2">
      <div class="col-6 col-md-2 footer-section">
        <h4 class="footer-heading"><a routerLink="/about">אודותינו</a></h4>
        <a href="https://www.hashikma-holon.co.il/life-style/10626" target="_blank" class="footer-link">כתבו עלינו בשקמה</a>
      </div>
      <div class="col-6 col-md-2 footer-section">
        <h4 class="footer-heading"><a routerLink="/sendusmsg">צרו קשר</a></h4>
        <a routerLink="/findus" class="footer-link">איך להגיע</a>
      </div>
      <div class="col-6 col-md-2 footer-section">
        <h4 class="footer-heading"><a routerLink="/נעלי/נעליים">קטלוג נעליים</a></h4>
        <a routerLink="/נעלי/ילדים" class="footer-link d-block">נעלי ילדים</a>
        <a routerLink="/נעלי/ילדות" class="footer-link d-block">נעלי ילדות</a>
        <a routerLink="/נעלי/נשים" class="footer-link d-block">נעלי נשים</a>
        <a routerLink="/נעלי/גברים" class="footer-link d-block">נעלי גברים</a>
      </div>
    </div>

    <!-- Social row -->
    <div class="row justify-content-center pb-2">
      <div class="col-auto">
        <a href="https://twitter.com/neurimshoes?lang=en" target="_blank" class="social-btn twitter-btn">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="https://www.facebook.com/Neurimshoes/" target="_blank" class="social-btn fb-btn">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-12 text-center">
        <a href="https://loading.io/spinner/double-rignt/" class="spinner-link">spinner by loading.io</a>
      </div>
    </div>

    <!-- Address -->
    <div class="row justify-content-center pb-2">
      <div class="col-auto text-center">
        <address class="footer-address">
          שנקר 52 חולון
          <a href="tel:035052769" class="footer-phone">03-5052769 <i class="fa fa-phone" aria-hidden="true"></i></a>
        </address>
      </div>
    </div>

    <!-- SSL Seal -->
    <div class="row justify-content-center pb-2">
      <div class="col-auto">
        <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSealBasic?sealID=rsi7I74WwUGlMVrkVMmgXk5rflGnbtUtRZ75XwhzKBcqbaKXJQYG6g2NbHwu"></script></span>
      </div>
    </div>

    <!-- Copyright -->
    <div class="row justify-content-center pb-3">
      <div class="col-auto">
        <em>כל הזכויות שמורות לנעלי נעורים בע"מ © 1965–2018</em>
      </div>
    </div>

  </div>
</footer>
