<div class="container-fluid footer">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-2">
      <a href="#" routerLink="/about">אודותינו</a>
    </div>
    <div class="col-md-2">
        <a href="#" routerLink="/sendusmsg">צרו קשר</a>
    </div>
    <div class="col-md-2">
        <a href="#" routerLink="/q/נעליים">נעליים</a>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row spacer">
      <div class="col-md-3"></div>
      <div class="col-md-2">
        <a href="https://www.facebook.com/Neurimshoes/" target="_blank" class="fbBtn"><span class="fa fa-facebook"></span></a>
        <a href="https://twitter.com/neurimshoes?lang=en" target="_blank" class="twitterBtn"><span class="fa fa-twitter"></span></a>
      </div>
      <div class="col-md-2">
        <div class="articles">
          <a href="https://www.hashikma-holon.co.il/life-style/10626" target="_blank">כתבו עלינו בשקמה</a>
        </div>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-3"></div>
  </div>
  <div class="row spacer">
    <div class="col-md-12">
      <address>
          שנקר 52 חולון
          <a href="tel:035047523" class="header-phone">504-7523 (03) <i class="fa fa-phone" aria-hidden="true"></i></a>
       </address>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12"><em>כל הזכויות שמורות לנעלי נעורים בע"מ © 1965–2018</em></div>
    </div>
</div>