<div class="container">
    <div class="row">
        <div class="hidden-sm-up">
            <a href="waze://?ll=32.021484,34.775966&navigate=yes"><button type="button" class="btn btn-info btn-block">לחץ לנווט אלינו <img src="assets/images/waze.png" height="32"></button></a>
        </div>
    </div>
    <div class="row">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker [latitude]="lat" [longitude]="lng" >
            <agm-info-window isOpen="true"><div class="info">שנקר 52<br>חולון<br>:)</div></agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
</div>