<div class="container">
    <div class="row">
        <div class="d-md-none">
            <a href="waze://?ll=32.021484,34.775966&navigate=yes"><button type="button" class="btn btn-info btn-block">לחץ לנווט אלינו <img src="assets/images/waze.png" height="32"></button></a>
        </div>
    </div>
    <div class="row">
      <div class="col-12">
        <strong>כתובתינו</strong>
        <address>
              אופנת נעלי נעורים בע"מ<br>
              שנקר 52, חולון<br>
              ישראל<br>
        </address>
        <a href="waze://?ll=32.021484,34.775966&navigate=yes" class="btn btn-info">
          <img src="assets/images/waze.png" height="24"> נווט אלינו
        </a>
        <a href="https://maps.google.com/?q=שנקר+52+חולון" target="_blank" class="btn btn-secondary ml-2">
          פתח ב-Google Maps
        </a>
      </div>
    </div>
</div>
