.header
{
    background-color: #0076BE;
    color: white;
}

.header-btn
{
    background-color: #0076BE;
    color: white;
}

.search-bar
{
    background-color: white;
    color: black;
    min-height: 60px;
}

