.header
{
    margin: 0;
    padding: 0;
    background-color: #0076BE;
    color: white;
    text-decoration: none;
}

.row
{
    margin: 0 0 0 0;
    padding: 10px 0 0 0 ;
    vertical-align: baseline;    
}
.header-phone 
{
    margin: 0 0 0 15px;
    padding: 0;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.header-btn
{
    margin: 0;
    padding: 0 0 10px 0;
    background-color: #0076BE;
    color: white;
}

.search-bar
{
    background-color: white;
    color: black;
    padding:20px 0 20px 0;
}

.search-text-box
{
    margin:7px 20px 0 0;
    padding: 7px 20px 10px 30px;
    color: #717171;
    border: 2px solid #CDC;
    border-radius: 0 6px 6px 0;
    -webkit-box-flex: 1;
    font:400 17px 'Arial',sans-serif;
}

.search-button
{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px 0 0 6px;
    background: #004055;
    
}

.my-cart
{
    border-radius: 6px;
    border:2px solid #A8D677;
    cursor: pointer;
    padding: 10px 15px;
    touch-action: manipulation;
    text-decoration: none;

}

.cart-container
{
    margin: 16px 0 0 0;
}

.nav-link
{
    font-weight: bold;
    cursor: pointer;
    float: left;
    margin: 0;
    padding: 0;
}

.nav-float
{
    float: left;
    cursor: default;
}

.nav-main
{
    background-color: #f5f5f6;
    color:#003952;
    width: 100%;
    margin: 0;
    padding: 0 0 12px 0;
}

.or
{
    margin: 0 6px ;
}

.register-container
{
    margin: 0 20px;
}

.fa-phone
{
    vertical-align: middle;
}

.caret
{
    margin: 0 2px;
}


.nav-link {
    color:#003952;    
    -o-transition:.25s ease-in-out;
    -ms-transition:.25s ease-in-out;
    -moz-transition:.25s ease-in-out;
    -webkit-transition:.25s ease-in-out;
    /* ...and now for the proper property */
    transition:.25s ease-in-out;
    border-bottom: 2px solid transparent;
}

.nav-link:hover
{
    color:#619dda;
    border-bottom: 2px solid #619dda;
}

.navbar
{
    max-height: 50px;
}
.navbar ul {
    padding: 0;
    margin: -10px;
    position: relative;
    overflow: hidden;
}

.navbar li {
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    
}

.navbar li a{
    padding: 12px 24px;
    margin: 0;
    overflow: hidden;
    position: relative;
    
}



