<div class="header navbar navbar-default">
  <div class="container-fluid">
    <div class="row first-row-header top-spacing">
      <div class="col-md-2 hidden-xs-down">מאמינים בחיוך :)</div>
      <div class="col-md-2 hidden-xs-down"></div>
      <div class="col-md-2 col-xs-6"><a href="tel:035047523" class="header-phone">504-7523 (03) <i class="fa fa-phone" aria-hidden="true"></i></a></div>
      <div class="col-md-2 hidden-xs-down"><div class="align-left">9:00 עד 19:00 <i class="fa fa-clock-o" aria-hidden="true"></i></div></div>
      <div class="col-md-3 dropdown col-xs-5">
          <div class="dropdown show btn-group">
              <a class="btn dropdown-toggle btnContact btn-sm" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  צרו קשר
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" routerLink="/sendusmsg" href="#">שלחו לנו הודעה</a>
                <a class="dropdown-item" routerLink="/findus" href="#">הגעה</a>
              </div>
            </div>
      </div>
      <div class="col-md-1 dropdown col-xs-1"></div>
    </div> 
  </div>
  <!-- For Desktop -->
  <div class="row search-bar hidden-sm-down visible">
      <div class="col-md-2 cart-container" [ngClass]="{'cartFull' : orderService.orderContainer?.orders?.length > 0}"><a class="my-cart" routerLink="/order"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span *ngIf="orderService.orderContainer?.orders?.length > 0">{{orderService.totalAmount()}} פריטים בעגלה</span><span *ngIf="orderService.orderContainer?.orders?.length === 0">העגלה שלי</span></a></div>
      <div class="col-md-8"><input [(ngModel)]="querySearch" class="search-text-box" type="text" placeholder="חפש נעליים, חברות וכדומה" (keyup.enter)="btnSearch.click()"><button #btnSearch class="btn header-btn btn-default search-button" [(routerLink)]="'/q/' +querySearch">חפש</button></div>
      <div class="col-md-1"><a routerLink="/" routerLinkActive="active"><img src="assets/images/logoNeurim.png" height="60"></a></div>
      <div class="col-md-1"></div>
  </div>
  <!-- For Mobile -->
  <div class="row login-mobile search-bar hidden-sm-up not-visible">
      <div class="col-xs-12">
          <a routerLink="/login" class="nav-admin" routerLinkActive="active" *ngIf="!auth.loggedIn || auth.isGuest">התחבר</a>
          <span class="nav-float or" *ngIf="!auth.loggedIn || auth.isGuest"> או </span>
          <a routerLink="/register" class="nav-admin" routerLinkActive="active" *ngIf="!auth.loggedIn || auth.isGuest">הרשם</a>
          <a routerLink="/logout" class="nav-admin" routerLinkActive="active" *ngIf="auth.loggedIn && !auth.isGuest">
            <i class="fa fa-sign-out" aria-hidden="true"></i> התנתק
          </a>
          <a routerLink="/admin" class="nav-admin" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
            <i class="fa fa-lock" aria-hidden="true"></i> אדמין
          </a>
          <a routerLink="/account" class="nav-admin" routerLinkActive="active" *ngIf="auth.loggedIn && !auth.isGuest">
            <i class="fa fa-user" aria-hidden="true"></i> החשבון שלי
          </a><br>            
          <span *ngIf="auth.loggedIn && !auth.isGuest" class="nav-admin">
            שלום :) {{auth.currentUser.username}}
          </span>
      </div>
  </div>
  <div class="row search-bar hidden-sm-up not-visible">
      <div class="col-xs-1"></div>
      <div class="col-xs-5 cart-container" [ngClass]="{'cartFull' : orderService.orderContainer?.orders?.length > 0}"><div class="my-cart-mobile"><a class="my-cart" routerLink="/order"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span *ngIf="orderService.orderContainer?.orders?.length > 0">{{orderService.totalAmount()}} פריטים</span><span *ngIf="orderService.orderContainer?.orders?.length === 0">העגלה שלי</span></a></div></div>
      <div class="col-xs-1"></div>
      <div class="col-xs-4"><a routerLink="/" routerLinkActive="active"><img src="assets/images/logoNeurim.png" height="50"></a></div>
  </div>
  <div class="row search-bar hidden-sm-up not-visible">
      <div class="col-xs-12"><input [(ngModel)]="querySearch" class="search-text-box" type="text" placeholder="חפש נעליים, חברות וכדומה" (keyup.enter)="btnSearch.click()"><button #btnSearch class="btn header-btn btn-default search-button" [(routerLink)]="'/q/' + querySearch">חפש</button></div>
  </div>
  <nav class="navbar nav-main" >
    <div class="nav navbar-nav nav-right row top-spacing">
        <div class="col-md-4 col-xs-12">
          <div class="register-container float-xs-right float-sm-left hidden-sm-down visible">
            <span *ngIf="auth.loggedIn && !auth.isGuest" class="nav-admin">
                שלום :) {{auth.currentUser.username}}
            </span>
            <a routerLink="/login" class="nav-admin" routerLinkActive="active" *ngIf="!auth.loggedIn || auth.isGuest">התחבר</a>
            <span class="nav-float or" *ngIf="!auth.loggedIn || auth.isGuest"> או </span>
            <a routerLink="/register" class="nav-admin" routerLinkActive="active" *ngIf="!auth.loggedIn || auth.isGuest">הרשם</a>
            <a routerLink="/admin" class="nav-admin" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
              <i class="fa fa-lock" aria-hidden="true"></i> אדמין
            </a>
            <a routerLink="/account" class="nav-admin" routerLinkActive="active" *ngIf="auth.loggedIn && !auth.isGuest">
              <i class="fa fa-user" aria-hidden="true"></i> החשבון שלי
            </a>  
            <a routerLink="/logout" class="nav-admin" routerLinkActive="active" *ngIf="auth.loggedIn && !auth.isGuest">
              <i class="fa fa-sign-out" aria-hidden="true"></i> התנתק
            </a>        
            
          </div>
        </div>
        <div class="col-md-2 hidden-xs-down"></div>
        <div class="col-md-5 col-xs-12">
          <ul>
            <li>
                <a mat-icon-button [matMenuTriggerFor]="menMenu" class="nav-item nav-link header-nav-btn">
                    גברים <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </a>
                  <mat-menu #menMenu="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false">
                      <button *ngFor="let classification of men" mat-menu-item [routerLink]="['/q/' + 'גברים ' +  '\[' + classification + '\]']">{{classification}}</button>
                  </mat-menu>
            </li>
            <li>
                <a mat-icon-button [matMenuTriggerFor]="womenMenu" class="nav-item nav-link header-nav-btn">
                    נשים <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </a>
                  <mat-menu #womenMenu="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false">
                      <button *ngFor="let classification of women" mat-menu-item [routerLink]="['/q/' + 'נשים ' + '\[' + classification + '\]']">{{classification}}</button>
                  </mat-menu>
            </li>
            <li>
                <a mat-icon-button [matMenuTriggerFor]="boysMenu" class="nav-item nav-link header-nav-btn">
                    ילדים <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </a>
                <mat-menu #boysMenu="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false">
                     <button *ngFor="let classification of boys" mat-menu-item [routerLink]="['/q/' + 'ילדים ' + '\[' + classification + '\]']">{{classification}}</button>
                </mat-menu>
            </li>
            <li>
              <a mat-icon-button [matMenuTriggerFor]="girlsMenu" class="nav-item nav-link header-nav-btn">
                ילדות <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </a>
              <mat-menu #girlsMenu="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false">
                  <button *ngFor="let classification of girls" mat-menu-item [routerLink]="['/q/' + 'ילדות ' + '\[' + classification + '\]']">{{classification}}</button>
              </mat-menu>
            </li>
          </ul>
          </div>
          <div class="col-md-1 hidden-xs-down"></div>
    </div>
  </nav>

</div>

