<div class="header navbar navbar-default">
  <div class="container">
    <div class="row">
      <div class="col-md-2">מאמינים בחיוך :)</div>
      <div class="col-md-2"></div>
      <div class="col-md-4"><a href="tel:035052769" class="header-phone">505-2769 (03) <i class="fa fa-phone" aria-hidden="true"></i></a>  9:00 עד 20:00 <i class="fa fa-clock-o" aria-hidden="true"></i></div>
      <div class="col-md-4 dropdown">
        <button class="btn header-btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">צרו קשר <span class="caret"></span></button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
          <li><a href="#">שלחו לנו הודעה</a></li>
          <li><a href="#">פרטי הגעה</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row search-bar">
      <div class="col-md-2 cart-container"><a class="my-cart" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> העגלה שלי</a></div>
      <div class="col-md-8"><input [(ngModel)]="querySearch" class="search-text-box" type="text" placeholder="חפש נעליים, חברות וכדומה"><button class="btn header-btn btn-default search-button" [(routerLink)]="querySearch">חפש</button></div>
      <div class="col-md-1"><a routerLink="/" routerLinkActive="active"><img src="assets/images/logos.jpg"></a></div>
      <div class="col-md-1"></div>
  </div>
  <nav class="navbar nav-main" >
    <div class="nav navbar-nav nav-right row">
        <div class="col-md-4">
          <div class="register-container">
            <a routerLink="/login" class="nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">התחבר</a>
            <div class="nav-float or" *ngIf="!auth.loggedIn"> או </div>
            <a routerLink="/register" class="nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">הרשם</a>
            <a routerLink="/logout" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
              <i class="fa fa-sign-out" aria-hidden="true"></i> התנתק
            </a>
            <a routerLink="/admin" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
              <i class="fa fa-lock" aria-hidden="true"></i> אדמין
            </a>
            <a routerLink="/account" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
              <i class="fa fa-user" aria-hidden="true"></i> החשבון שלי
            </a>            
            <div *ngIf="auth.loggedIn" class="nav-link">
              שלום :) {{auth.currentUser.username}}
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <ul>
            <li>
                <a href="#" mat-icon-button [matMenuTriggerFor]="boysMenu" class="nav-item nav-link header-nav-btn">
                    ילדים <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </a>
                <mat-menu #boysMenu="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false">
                     <button mat-menu-item [routerLink]="['מגפיים']">מגפיים</button>
                     <button mat-menu-item>סניקרס וספורט</button>
                     <button mat-menu-item>מוקסינים</button>
                     <button mat-menu-item>נעלי בית</button>
                     <button mat-menu-item>סנדלים</button>
                     <button mat-menu-item>אלגנט</button>
                </mat-menu>
            </li>
            <li>
                <a href="#" mat-icon-button [matMenuTriggerFor]="girlMenu" class="nav-item nav-link">
                    ילדות <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </a>
                <mat-menu #girlMenu="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false">
                     <button mat-menu-item>מגפיים</button>
                     <button mat-menu-item>סניקרס וספורט</button>
                     <button mat-menu-item>שטוחות</button>
                     <button mat-menu-item>נעלי בית</button>
                     <button mat-menu-item>סנדלים</button>
                     <button mat-menu-item>מוקסינים</button>
                </mat-menu> 
            </li>
            <li>
                <a href="#" mat-icon-button [matMenuTriggerFor]="womanMenu" class="nav-item nav-link">
                    גברים <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </a>
                <mat-menu #manMenu="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false">
                     <button mat-menu-item>סניקרס וספורט</button>
                     <button mat-menu-item>מגפיים</button>
                     <button mat-menu-item>אלגנט</button>
                     <button mat-menu-item>מוקסינים</button>
                     <button mat-menu-item>סנדלים</button>
                     <button mat-menu-item>נעלי בית</button>
                     <button mat-menu-item>כפכפים</button>
                     <button mat-menu-item>נעלי סירה</button>
                </mat-menu>   
            </li>
            <li>
                <a href="#" mat-icon-button  [matMenuTriggerFor]="womanMenu" class="nav-item nav-link">
                    נשים <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </a>
                <mat-menu #womanMenu="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false">
                    <button mat-menu-item>סניקרס וספורט</button>
                    <button mat-menu-item>מגפיים</button>
                    <button mat-menu-item>שטוחות</button>
                    <button mat-menu-item>נוחות</button>
                    <button mat-menu-item>עקבים</button>
                    <button mat-menu-item>סנדלים</button>
                    <button mat-menu-item>מוקסינים</button>
                    <button mat-menu-item>סנדלים</button>
                    <button mat-menu-item>כפכפים</button>
                    <button mat-menu-item>אלגנט</button>
                    <button mat-menu-item>נעלי בית</button>
                </mat-menu>     
            </li>
          </ul>
          </div>
          <div class="col-md-1"></div>
    </div>
  </nav>

</div>

