<div style="position:initial">
  <div class="container-fluid" >
    <div class="row spacer">
        <div class="col-md-3">
        </div>
        <div class="col-md-8">
            <mat-accordion >
                <mat-expansion-panel  [expanded]="false"  [disabled]="true" >
                                 <mat-expansion-panel-header class="headerAccordion text-muted">
                                    פרטי משלוח
                                  </mat-expansion-panel-header>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="false" [disabled]="true">
                    <mat-expansion-panel-header class="headerAccordion text-muted">
                        תשלום
                      </mat-expansion-panel-header>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header class="headerAccordion">
                        סיכום
                    </mat-expansion-panel-header>
                    שלום <strong>{{ auth.currentUser.username}}</strong> <br> <br>
                    בקשתך בטיפול <br>
                    התשלום יתבצע כאשר המוצר יהיה מוכן למסירה 
                    <h5>אנו תמיד לשרותכם צוות נעורים 03-5047523</h5>
                    <h2>תודה שבחרתם בנו</h2>
                    <h1> :)</h1>
                    <br>
                    <button type="button" class="btn btn-secondary" (click)="backClicked()" routerLink="/">חזור לחנות</button><br>
                    <br>
                    <small><i> מזהה הזמנה {{orderId()}}</i></small>
                </mat-expansion-panel>
                
              </mat-accordion> 
        </div>
        <div class="col-md-1"></div>
    </div>
  </div>
</div>
