<div class="container">
<p>
  <b>על מנת למצוא את המידה שלכם או ילדכם. קחו סרגל ומידדו מהעקב עד לבהונות.</b><br>
  <small><i>אנא קחו בחשבון שאצל יצרנים מסויימים קיימים שינויים קלים במידות הסטנדרטיות. במידה והנעל אינה מתאימה נשמח להחליפה</i></small>
</p>
<div class="row">
    <div class="col-md-2"></div>
  <div class="col-md-4">
    <h5>מידות צעירים</h5>
<table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>ס"מ</th><th>מידה </th></tr></thead><tbody>
 <tr><td>11</td><td>19</td></tr>
 <tr><td>12</td><td>20</td></tr>
 <tr><td>12.7</td><td>21</td></tr>
 <tr><td>13.2</td><td>22</td></tr>
 <tr><td>14.2</td><td>23</td></tr>
 <tr><td>14.6</td><td>24</td></tr>
 <tr><td>15.4</td><td>25</td></tr>
 <tr><td>15.9</td><td>26</td></tr>
 <tr><td>16.5</td><td>27</td></tr>
 <tr><td>17.1</td><td>28</td></tr>
 <tr><td>17.8</td><td>29</td></tr>
 <tr><td>18.3</td><td>30</td></tr>
 <tr><td>19.3</td><td>31</td></tr>
 <tr><td>19.7</td><td>32</td></tr>
 <tr><td>20.4</td><td>33</td></tr>
 <tr><td>21.4</td><td>34</td></tr>
 <tr><td>21.9</td><td>35</td></tr>
</tbody></table>
  </div>
  <div class="col-md-4">
      <h5>מידות בוגרים</h5>
<table class="tableizer-table">
    <thead><tr class="tableizer-firstrow"><th>ס"מ</th><th>מידה </th></tr></thead><tbody>
<tr><td>22.6</td><td>36</td></tr>
 <tr><td>23.3</td><td>37</td></tr>
 <tr><td>24.3</td><td>38</td></tr>
 <tr><td>24.5</td><td>39</td></tr>
 <tr><td>24.9</td><td>40</td></tr>
 <tr><td>25.6</td><td>41</td></tr>
 <tr><td>26.2</td><td>42</td></tr>
 <tr><td>27.3</td><td>43</td></tr>
 <tr><td>27.9</td><td>44</td></tr>
 <tr><td>28.6</td><td>45</td></tr>
 <tr><td>29.4</td><td>46</td></tr>
 <tr><td>30.2</td><td>47</td></tr>
 <tr><td>31</td><td>48</td></tr>
</tbody></table>
</div>
<div class="col-md-2"></div>
</div>

</div>