<app-toast [message]="toast.message"></app-toast>

<div class="card">
    <div class="card-block">
    <a href="/api/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
    <h3>או</h3>
    <p>הכנס פרטי משתמש קיים</p>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="input-group" [ngClass]="setClassEmail()">
        <span class="input-group-addon "><i class="fa fa-envelope"></i></span>
        <input class="form-control" type="email" name="email" formControlName="email" placeholder='דוא"ל' autofocus>
      </div>
      <div class="input-group" [ngClass]="setClassPassword()">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input class="form-control" type="password" name="password" formControlName="password" placeholder="ססמה">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">היכנס <i class="fa fa-sign-in"></i></button>
    </form>
  </div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=1764565033853258';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>